<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FAMILY EXPENSES HOME PAGE</title>
    <style>
        body {
            background-color : #3B0000;
            }
        h1 {
            text-align : center;
            color : #D4ECDD;
            }
        .center {
            width : 50%;
            margin : 50px auto;
            }
        input {
            width : 100%;
            background-color : #D4ECDD;
            color : #3B0000;
            height : 50px;
            margin : 10px;
            border-radius : 50px;
            }
    </style>
</head>
<body>
<div class="center">
    <h1>Welcome to Family Expense Tracker</h1>
<form>
    <input type="submit" value="ADD FAMILY MEMBERS" formaction="familymembers/addfamilymember">
    <input type="submit" value="VIEW FAMILY MEMBERS">
    <input type="submit" value="ADD FAMILY EXPENSES">
    <input type="submit" value="VIEW FAMILY MEMBER">
</form>
    </div>
</body>
</html>